$body-bg: #811e1b;
$text-gray: #acacac;
$text-light-gray: #b7b7b7;
$text-gold: #ca892e;
$link-gold: #e3bd70;
$social-item-header: #c02411;
$content-box-shadow: rgba(0,0,0,0.5);
$bg-gray: #ebebeb;
$btn-rect-bg: #952220;
$btn-rect-light-bg: #bc2825;
$line-light-gold: #f1deb8;

$btn-nav: $btn-rect-bg;

$gallery-arrow: #847b75;
$gallery-img-gradient: #e7c582;

$events-gallery-gold-bg: rgba(227,189,112,0.8);

$contacts-gallery-bg: rgba(255,255,255,0.8);

$input-border: #acacac;

$main-gallery-bg: rgba(255,255,255,0.8);
$main-events-gallery-gold-bg: $events-gallery-gold-bg;

$parents-gallery-bg: rgba(255,255,255,0.8);

$stuff-card-bg: #f7f7f7;
$stuff-card-photo-top-block-bg: #f1dfb8;
