$padding-left-right-xl: 60px;
$padding-left-right-mobile: 15px;
$padding-right-xl: 90px;
$padding-left-xl: 90px;

$body-min-width: 350px;

$content-max-width: 1110px;
$content-desktop-width: 900px;
$content-tablet-width: 768px;
$content-mobile-width: 100%;
$content-border-radius: 2px;

$header-btn-size: 20px;

$social-list-item-size: 25px;

$gallery-arrow-size: 9px;
$about-gallery-height: 420px;
$about-gallery-mobile-height: 620px;

$parents-gallery-height: 300px;

$media-block-height: 330px;
$media-block-width: 546px;
$media-block-tablet-height: 280px;
$media-block-tablet-width: 490px;
$media-block-big-img-height: 378px;
$media-block-big-img-width: 748px;
$media-block-big-img-small-desktop-height: 328px;
$media-block-big-img-small-desktop-width: 648px;
$media-block-big-img-tablet-height: 310px;
$media-block-big-img-tablet-width: 550px;
$media-play-btn-size: 72px;

$events-gallery-height: 326px;
$events-date-container-height: 56px;
$events-photo-height: 190px;
$events-photo-height-tablet: 290px;

$news-main-photo-height: 272px;
$news-main-photo-mobile-height: 300px;
$news-gallery-post-photo-width: 256px;
$news-gallery-post-photo-height: 156px;
$news-gallery-post-photo-mobile-height: 256px;

$open-news-padding-right: 350px;
$open-news-sidebar-width: 280px;
$open-news-padding-right-tablet-width: 300px;

$contacts-gallery-height: 388px;
$contacts-gallery-mobile-height: 588px;

$main-gallery-height: 388px;
$main-gallery-mobile-height: 600px;
$main-triangle-img-container-size: 200px;
$main-news-gallery-img-height: 156px;
$main-news-gallery-img-width: 256px;
$main-events-gallery-height: 286px;

$media-desktop-width: 1200px;
$media-tablet-width: 1024px;
$media-mobile-width: 768px;

$staff-card-height: 296px
