extends templates/layout
block vars
    - var title = 'Academics page'

block content
    div.content.academics
        div.container.container_text.mb70
            p.heading.heading_xxl
                span.heading_double-color.academics__heading-double-color.
                    Academics
        div.container.container_flex.mb70
            div.container__item.container__item_text
                p.title.academics__title.
                    Text ever since the, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
                ul.sidebar-links__schools-list.academics__schools-list-mobile
                    li.sidebar-links__schools-item
                        a.link-heading.sidebar-links__schools-link(href="").
                            Elementary school
                    li.sidebar-links__schools-item
                        a.link-heading.sidebar-links__schools-link(href="").
                            Middle school
                    li.sidebar-links__schools-item
                        a.link-heading.sidebar-links__schools-link(href="").
                            Hign school
                p.heading.heading_m.
                    Elementary school
                p.text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                p.text.
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                p.heading.heading_m.
                    for parents
                p.text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                p.text.
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
                div.academics__photo
                    div.media-block.academics__media-block
                        div.media-block__item.media-block__item_img.academics__media-block-img
                        div.media-block__item.media-block__item_border
                p.text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                p.text.
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            div.container__item.container__item_sidebar.academics__sidebar
                div.sidebar-links.academics__sidebar-links
                    div.sidebar-links__schools.academics__sidebar-links-schools
                        ul.sidebar-links__schools-list
                            li.sidebar-links__schools-item
                                a.link-heading.sidebar-links__schools-link(href="").
                                    Elementary school
                            li.sidebar-links__schools-item
                                a.link-heading.sidebar-links__schools-link(href="").
                                    Middle school
                            li.sidebar-links__schools-item
                                a.link-heading.sidebar-links__schools-link(href="").
                                    Hign school
                    div.sidebar-links__item.sidebar-links__item_documents
                        p.heading.heading_m.sidebar-links__heading.
                            useful documents
                        ul.sidebar-links__list
                            li.sidebar-links__list-point
                                a.sidebar-links__list-link(href="").
                                    Full Student Application
                            li.sidebar-links__list-point
                                a.sidebar-links__list-link(href="").
                                    Some useful Document
                            li.sidebar-links__list-point
                                a.sidebar-links__list-link(href="").
                                    How to Apply Broschure
                    div.sidebar-links__item.sidebar-links__item_links
                        p.heading.heading_m.sidebar-links__heading.
                            useful links
                        ul.sidebar-links__list
                            li.sidebar-links__list-point
                                a.sidebar-links__list-link(href="").
                                    Annual Report
                            li.sidebar-links__list-point
                                a.sidebar-links__list-link(href="").
                                    Enrollment Applecation
                            li.sidebar-links__list-point
                                a.sidebar-links__list-link(href="").
                                    Buss Route
                            li.sidebar-links__list-point
                                a.sidebar-links__list-link(href="").
                                    Cafeteria
            div.quote-container
                p.quote.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            div.academics__photo
                div.media-block.media-block_big-img.academics__media-block-big
                    div.media-block__item.media-block__item_big-img.academics__media-block-img
                    div.media-block__item.media-block__item_border
        div.container.about__container-enroll.academics__container-enroll.ta-center
            p.heading.heading_xxl
                span.heading_double-color.
                    enroll<br>
                    today
            p.text.ta-center.about__enroll-text.mb40.
                Through community service projects and opportunities to experience careers in social justice first hand, Delta Prep students learn how to make a difference in the world by helping others achieve equity, access, and equality in their mindsets and endeavors.
            button.btn-rect
                span.btn-rect__text.
                    Enrollment aplication
            div.bottom-nav.academics__bottom-nav
                a.btn-nav.btn-nav_left(href="events.html").
                    events
                a.btn-nav.btn-nav_right(href="students.html").
                    students



