extends templates/layout
block vars
    - var title = 'Main page'

block content
    div.content.main
        div.container.mb50
            div.gallery.main__gallery
                div.main__gallery-item-container
                    a.btn-rect.main__gallery-item-btn.
                        read more
                    div.gallery__item.main__gallery-item
                        div.gallery__text.main__gallery-description
                            p.heading.heading_l.main__gallery-heading.
                                Our School<br> Wide Goals
                            p.title.main__gallery-title.
                                ​​Detroit Delta Preparatory Academy
                            p.text.main__gallery-text.
                                Delta Prep was created as the dream of the Detroit Alumnae Chapter of Delta Sigma Theta Sorority, Incorporated. It is now the nation's first Delta-affiliated high school and upholds the values of the visionaries while preparing  students to advocate for social justice issues in their communities and worldwide.
                        div.gallery__img.main__gallery-img
                div.main__gallery-item-container
                    a.btn-rect.main__gallery-item-btn.
                        read more
                    div.gallery__item.main__gallery-item
                        div.gallery__text.main__gallery-description
                            p.heading.heading_l.main__gallery-heading.
                                Our School<br> Wide Goals
                            p.title.main__gallery-title.
                                ​​Detroit Delta Preparatory Academy
                            p.text.main__gallery-text.
                                Delta Prep was created as the dream of the Detroit Alumnae Chapter of Delta Sigma Theta Sorority, Incorporated. It is now the nation's first Delta-affiliated high school and upholds the values of the visionaries while preparing  students to advocate for social justice issues in their communities and worldwide.
                        div.gallery__img.main__gallery-img
        div.container.main__schools-container.mb20
            div.main__schools
                a.main__schools-item.main__schools-item_elementary(href="")
                    span.main__schools-text.
                        Elementary School
                a.main__schools-item.main__schools-item_middle(href="")
                    span.main__schools-text.
                        middle School
                a.main__schools-item.main__schools-item_hight(href="")
                    span.main__schools-text.
                        Hight School
            //div.main__schools-images
                div.main__schools-item
                    div.triangle-img.main__triangle-img
                        div.triangle-img__container.main__triangle-img-container
                            div.triangle-img__photo.main__triangle-img-photo
                        div.triangle-img__container.main__triangle-img-border
                div.main__schools-item
                    div.triangle-img.main__triangle-img
                        div.triangle-img__container.main__triangle-img-container
                            div.triangle-img__photo.main__triangle-img-photo
                        div.triangle-img__container.main__triangle-img-border
                div.main__schools-item
                    div.triangle-img.main__triangle-img
                        div.triangle-img__container.main__triangle-img-container
                            div.triangle-img__photo.main__triangle-img-photo
                        div.triangle-img__container.main__triangle-img-border
            //div.main__schools-links
                div.main__schools-links-item
                    a.main__schools-link(href="").
                        Elementary School
                div.main__schools-links-item
                    a.main__schools-link(href="").
                        middle School
                div.main__schools-links-item
                    a.main__schools-link(href="").
                        Hight School
        div.container.container_text
            div.main__news
                p.heading.heading_xxl.main__news-heading
                    | news
                    span.btn-nav-container.main__news-btn-nav-container
                        a.btn-nav.btn-nav_right(href="").
                            all news
                div.main__news-gallery
                    div.main__news-gallery-item
                        div.main__news-gallery-img
                        div.main__news-gallery-text
                            p.text.text_date.
                                Sun, 2 july 2016
                            p.main__news-title
                                a.link-heading.main__news-gallery-link(href="").
                                    Information for the Public
                            p.text.text_news.main__news-gallery-article.
                                The public is welcome and invited to join us at our Board Meetings. For your convenience, we have posted a downloadable version of our board postings, agendas, and minutes for your review here...
                    div.main__news-gallery-item
                        div.main__news-gallery-img
                        div.main__news-gallery-text
                            p.text.text_date.
                                Sun, 2 july 2016
                            p.main__news-title
                                a.link-heading.main__news-gallery-link(href="").
                                    Information for the Public
                            p.text.text_news.main__news-gallery-article.
                                The public is welcome and invited to join us at our Board Meetings. For your convenience, we have posted a downloadable version of our board postings, agendas, and minutes for your review here...
        div.container.mb140
            div.main__events
                p.heading.heading_xxl.main__events-heading
                    | events
                    span.btn-nav-container.main__events-btn-nav-container
                        a.btn-nav.btn-nav_right(href="").
                            all events
                div.gallery.main__events-gallery
                    a.btn-rect.main__events-gallery-btn.
                            read more
                    div.gallery__item.main__events-gallery-item
                        div.text.main__events-gallery-text
                            p.main__events-gallery-heading.
                                open house
                            div.main__events-gallery-date
                                div.main__events-gallery-date-item
                                    p.main__events-gallery-day.
                                        19
                                div.main__events-gallery-date-item
                                    p.main__events-gallery-month.
                                        May
                                    p.main__events-gallery-year.
                                        2016
                                    p.main__events-gallery-time.
                                        5:00 p.m.
                        div.gallery__img.main__events-gallery-img
        div.container.ta-center
            p.heading.heading_xxl
                span.heading_double-color.
                    enroll<br>
                    today
            p.text.ta-center.about__enroll-text.mb40.
                Through community service projects and opportunities to experience careers in social justice first hand, Delta Prep students learn how to make a difference in the world by helping others achieve equity, access, and equality in their mindsets and endeavors.
            button.btn-rect
                span.btn-rect__text.
                    Enrollment aplication