extends templates/layout
block vars
    - var title = 'News page'

block content
    div.content.news
        div.container.container_text.mb30.news__container
            p.heading.heading_xxl.news__heading.
                news
            div.news__main.mb90
                div.news__main-item.news__main-item_img
                div.news__main-item.news__main-item_description
                    p.text.text_date.news__main-date.
                        Sun, 2 july 2016
                    p.news__main-title
                        a.link-heading(href="open-news.html").
                            Information for the Public
                    p.text.text_news.news__main-text.
                        The public is welcome and invited to join us at our Board Meetings. For your convenience, we have posted a downloadable version of our board postings, agendas, and minutes for your review here...
                    a.btn-nav.btn-nav_right(href="").
                        read more
            div.news__gallery
                div.news__gallery-post
                    div.news__gallery-post-item.news__gallery-post-item_img
                    div.news__gallery-post-item.news__gallery-post-item_description
                        p.text.text_date.news__main-date.
                            Sun, 2 july 2016
                        p.news__main-title
                            a.link-heading(href="").
                                Information for the Public
                        p.text.text_news.news__main-text.
                            The public is welcome and invited to join us at our Board Meetings. For your convenience, we have posted a downloadable version of our board postings, agendas, and minutes for your review here...
                div.news__gallery-post
                    div.news__gallery-post-item.news__gallery-post-item_img
                    div.news__gallery-post-item.news__gallery-post-item_description
                        p.text.text_date.news__main-date.
                            Sun, 2 july 2016
                        p.news__main-title
                            a.link-heading(href="").
                                Information for the Public
                        p.text.text_news.news__main-text.
                            The public is welcome and invited to join us at our Board Meetings. For your convenience, we have posted a downloadable version of our board postings, agendas, and minutes for your review here...
                div.news__gallery-post
                    div.news__gallery-post-item.news__gallery-post-item_img
                    div.news__gallery-post-item.news__gallery-post-item_description
                        p.text.text_date.news__main-date.
                            Sun, 2 july 2016
                        p.news__main-title
                            a.link-heading(href="").
                                Information for the Public
                        p.text.text_news.news__main-text.
                            The public is welcome and invited to join us at our Board Meetings. For your convenience, we have posted a downloadable version of our board postings, agendas, and minutes for your review here...
        div.events__bottom-nav.news__bottom-nav
            a.btn-nav.btn-nav_left(href="about.html").
                about us
            div.bottom-nav__button-container
                button.btn-rect
                    span.btn-rect__text.
                        load more
            a.btn-nav.btn-nav_right(href="events.html").
                events