extends templates/layout
block vars
    - var title = 'Open news page'

block content
    div.content.open-news
        div.container.open-news__container.mb80
            a.btn-nav.btn-nav_left.open-news__btn-nav(href="").
                all news
            p.text.text_date.
                Sun, 2 July 2016
            p.heading.heading_l.
                Our School Wide Goals
            p.title.open-news__title.
                Text ever since the, when an unknown printer took a<br> galley of type and scrambled it to make a type specimen<br> book. It has survived
            p.text.open-news__text.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            p.text.text.open-news__text.
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est
            div.open-news__photo
                div.media-block
                    div.media-block__item.media-block__item_img
                    div.media-block__item.media-block__item_border
            p.title.title_l.open-news__title.
                For parents
            p.text.open-news__text.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            p.text.text.open-news__text.
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
            div.open-news__sidebar
                div.sidebar-links.open-news__sidebar-links
                    div.sidebar-links__item.sidebar-links__item_articles
                        p.title.title_l.sidebar-links__heading.open-news__sidebar-heading.
                            Top articles
                        ul.sidebar-links__list
                            li.sidebar-links__list-point.open-news__sidebar-list-item
                                a.sidebar-links__list-link(href="")
                                    p.text.text_date.open-news__sidebar-date.
                                        Sun, 2 July 2016
                                    p.text.text_bold.open-news__sidebar-text.
                                        Full Student Application. How to Apply Broschure
                            li.sidebar-links__list-point.open-news__sidebar-list-item
                                a.sidebar-links__list-link(href="")
                                    p.text.text_date.open-news__sidebar-date.
                                        Sun, 2 July 2016
                                    p.text.text_bold.open-news__sidebar-text.
                                        Full Student Application. How to Apply Broschure
                            li.sidebar-links__list-point.open-news__sidebar-list-item
                                a.sidebar-links__list-link(href="")
                                    p.text.text_date.open-news__sidebar-date.
                                        Sun, 2 July 2016
                                    p.text.text_bold.open-news__sidebar-text.
                                        Full Student Application. How to Apply Broschure
        div.bottom-nav.open-news__bottom-nav
            a.btn-nav.btn-nav_left(href="")
                div.btn-nav__text
                    p.text.text_date.open-news__bottom-nav-date.
                        Sun, 2 July 2016
                    p.
                        The best school for the best<br> students
            a.btn-nav.btn-nav_right(href="")
                div.btn-nav__text
                    p.text.text_date.open-news__bottom-nav-date.
                        Sun, 2 July 2016
                    p.
                        Information for the Public
