extends templates/layout
block vars
    - var title = 'Parents page'

block content
    div.content.parents
        div.container.container_flex.mb70
            div.container__item.container__item_text
                p.heading.heading_xxl
                    span.heading_double-color.parents__heading-double-color.
                        parents
                p.title.
                    Text ever since the, when an unknown printer took a<br> galley of type and scrambled it to make a type specimen<br> book. It has survived
                p.text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                p.text.
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                p.heading.heading_m.
                    for parents
                p.text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                p.text.
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
            div.container__item.container__item_sidebar.parents__sidebar
                div.sidebar-links
                    div.sidebar-links__item.sidebar-links__item_documents
                        p.heading.heading_m.sidebar-links__heading.
                            useful documents
                        ul.sidebar-links__list
                            li.sidebar-links__list-point
                                a.sidebar-links__list-link(href="").
                                    Full Student Application
                            li.sidebar-links__list-point
                                a.sidebar-links__list-link(href="").
                                    Some useful Document
                            li.sidebar-links__list-point
                                a.sidebar-links__list-link(href="").
                                    How to Apply Broschure
                    div.sidebar-links__item.sidebar-links__item_links
                        p.heading.heading_m.sidebar-links__heading.
                            useful links
                        ul.sidebar-links__list
                            li.sidebar-links__list-point
                                a.sidebar-links__list-link(href="").
                                    Annual Report
                            li.sidebar-links__list-point
                                a.sidebar-links__list-link(href="").
                                    Enrollment Applecation
                            li.sidebar-links__list-point
                                a.sidebar-links__list-link(href="").
                                    Buss Route
                            li.sidebar-links__list-point
                                a.sidebar-links__list-link(href="").
                                    Cafeteria
            div.gallery.parents__gallery
                div.gallery__item.parents__gallery-item
                    div.gallery__text.parents__gallery-text
                        p.quote.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    div.gallery__img.parents__gallery-img
            div.container__item.container__item_text
                p.text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                p.text.
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            div.container__item.container__item_video
                div.parents__video
                    div.media-block.media-block_video
                        div.media-block__item.media-block__item_img
                        div.media-block__item.media-block__item_border.media-block__item_video
                p.text.parents__video-text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.deserunt mollit anim id est laborum.
            div.container__item.container__item_enroll.about__container-enroll.parents__container-enroll.ta-center
                p.heading.heading_xxl
                    span.heading_double-color.
                        enroll<br>
                        today
                p.text.ta-center.about__enroll-text.mb40
                    Through community service projects and opportunities to experience careers in social justice first hand, Delta Prep students learn how to make a difference in the world by helping others achieve equity, access, and equality in their mindsets and endeavors.
                button.btn-rect
                    span.btn-rect__text.
                        Enrollment aplication
                div.bottom-nav
                    a.btn-nav.btn-nav_left(href="students.html").
                        for students
                    a.btn-nav.btn-nav_right(href="stuff.html").
                        stuff