footer.footer
    div.footer__container
        ul.footer__contacts
            li.footer__contacts-item.
                3550 John C. Lodge Detroit, MI 48201
            li.footer__contacts-item.
                (313) 638-1444 or (313) 603-3453
            li.footer__contacts-item
                a.footer__contacts-mail(href="info@detroitdeltaprep.org").
                    info@detroitdeltaprep.org
        ul.social-list.footer__social-list
            li.social-list__item
                a.social-list__link.social-list__link_footer-fb(href="")
             li.social-list__item
                a.social-list__link.social-list__link_footer-tw(href="")
             li.social-list__item
                a.social-list__link.social-list__link_footer-dr(href="")
             li.social-list__item
                a.social-list__link.social-list__link_footer-in(href="")
        div.footer__copyright.
            © Detroit Delta Preparatory Academy for Social Justice

