header.header
    div.header__top
        div.header__item
            button.header__btn.header__btn_menu.
                =
        div.header__item
            div.header__logo-container
                a.header__logo-link(href="")
                    img.header__logo-img(src="images/header-logo.png" alt="")
            div.header__head-container.header__head-container_desktop
                p.header__head.
                    ​​Detroit Delta Preparatory Academy
                p.header__title.text_color_gray.
                    Educating Leaders, Innovators and Entrepreneurs
        div.header__item
            button.header__btn.header__btn_social.
                    o
            ul.social-list.social-list_header.header__social-list
                li.social-list__item.social-list__item_header.header__social-list-item
                    a.social-list__link.social-list__link_header-fb(href="")

                li.social-list__item.social-list__item_header.header__social-list-item
                    a.social-list__link.social-list__link_header-tw(href="")

                li.social-list__item.social-list__item_header.header__social-list-item
                    a.social-list__link.social-list__link_header-dr(href="")

                li.social-list__item.social-list__item_header.header__social-list-item
                    a.social-list__link.social-list__link_header-in(href="")

    div.header__bottom
        div.header__head-container.header__head-container_mobile
            p.header__head.
                ​​Detroit Delta Preparatory Academy
            p.header__title.text_color_gray.
                Educating Leaders, Innovators and Entrepreneurs
        nav.header__nav
            ul.header__nav-list
                li.header__nav-item
                    a.header__nav-link(href="main.html").
                        main
                li.header__nav-item
                    a.header__nav-link(href="about.html").
                        about us
                li.header__nav-item
                    a.header__nav-link(href="news.html").
                        news
                li.header__nav-item
                    a.header__nav-link(href="events.html").
                        events
                li.header__nav-item
                    a.header__nav-link(href="academics.html").
                        academics
                li.header__nav-item
                    a.header__nav-link(href="students.html").
                        students
                li.header__nav-item
                    a.header__nav-link(href="parents.html").
                        parents
                li.header__nav-item
                    a.header__nav-link(href="stuff.html").
                        stuff
                li.header__nav-item
                    a.header__nav-link(href="contacts.html").
                        contacts


